@model EmployeesListViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Employees.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Photo)</th>
        </tr>
    </thead>
    <tbody>
          @foreach (var item in Model.Employees)
          {
              <tr>
                  <td>@Html.DisplayFor(itemModel => item.FirstName)</td>
                  <td>@Html.DisplayFor(itemModel => item.LastName)</td>
                  <td>@Html.DisplayFor(itemModel => item.Title)</td>
                  <td>
                      <img src="data:image;base64,@Convert.ToBase64String(new BinaryReader(item.Photo.OpenReadStream()).ReadBytes((int)item.Photo.Length))" width="60" height="60"/>
                  </td>
                  <td>
                      <a class="btn btn-info btn-sm"
                               href=@string.Concat("/Employees/Details/", item.Id.ToString())>
                          Details
                      </a>
                      <a class="btn btn-warning btn-sm"
                               href="@string.Concat("/Employees/Update/", item.Id.ToString())">
                          Edit
                      </a>
                      <a class="btn btn-danger btn-sm"
                               href="@string.Concat("/Employees/Delete/", item.Id.ToString())">
                          Delete
                      </a>
                  </td>
              </tr>
          }
    </tbody>
</table>
<a class="btn btn-warning btn-sm" href="/Employees/Create">Create new employee</a>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
        page-class="btn" page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>