@model NorthwindMvcClient.ViewModels.BlogArticleViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class="form-control" asp-items="@ViewBag.employees"></select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <div class="form-control">
                    @foreach(var product in Model.Products)
                    {
                        <div>@Html.DisplayFor(model => product.Name) @Html.ActionLink("Delete", "DeleteProductToArticle", new { id = Model.Id, id_del = product.Id})</div>
                    }

                    @Html.ActionLink("Add", "AddProductToArticle", new { id = Model.Id}, htmlAttributes: new { @class= "btn btn-warning btn-sm col-sm-2"})
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <div class="form-control">
                    @foreach(var comment in Model.Comments)
                    {
                        <div>@Html.DisplayFor(model => comment.Comment) @Html.ActionLink("Delete", "DeleteCommentToArticle", new { id = Model.Id, id_del = comment.Id})</div>
                    }
                    @Html.ActionLink("Add", "AddCommentToArticle", new { id = Model.Id}, htmlAttributes: new { @class= "btn btn-warning btn-sm col-sm-2"})
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
